numpy==1.26.2
scipy==1.11.3
pandas==2.1.1
matplotlib==3.8.0
seaborn==0.13.0
pysb==1.15.0
petab==0.2.4
sympy==1.12
snakemake==7.32.4
fides==0.7.7
pypesto==0.4.0
scikit-learn==1.3.2
synapseclient==3.1.0
plotnine==0.12.3
pydot==1.4.2
notebook==7.0.6
diffrax==0.4.1
equinox==0.11.2
optax==0.1.7
jaxopt==0.8.2
jax==0.4.20
amici==0.20.0
sdist
wandb==0.15.12
fire==0.5.0
