numpy==2.3.1
scipy==1.16.0
pandas==2.3.1
matplotlib==3.10.3
seaborn==0.13.2
pysb @ git+https://github.com/pysb/pysb@refactor_token_transformation
petab==0.5.0
sympy==1.14.0
snakemake==7.32.4
fides==0.7.8
pypesto==0.5.6
scikit-learn==1.7.1
synapseclient==4.9.0
plotnine==0.15.0
pydot==1.4.2
notebook==7.0.6
diffrax==0.7.0
equinox==0.13.0
optax==0.2.5
jaxopt==0.8.5
jax==0.6.2
amici==0.33.0
wandb==0.21.0
fire==0.7.0
flax==0.10.7
lineax==0.0.8
optimistix==0.0.10
msgpack==1.1.1
orbax-checkpoint==0.11.19
plotly==6.2.0
PyYAML==6.0.2
rich==14.0.0
tensorstore==0.1.76
typing_extensions==4.14.1
biopython==1.85
gseapy==1.1.9
lxml==6.0.0
